#star{
    margin-top: 50px;
}

.star-content{
    width: 100%;
    height: 800px;
    color: aliceblue;
    background-color: black;
    @include main-flex;
    gap: 30px;
}

.star-header{
    @include main-flex;
    gap: 30px;
    margin-top: 50px;
}

.star-cards{
    width: 70%;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
}
 .card{
    width: 33%;
    img{
        width: 100%;
        height: 100%;
    }
 }